html {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 100%;
  height: auto;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}

.nav_link {
  display: flex; /*not necessary*/
  flex-direction: column; /*not necessary*/
}

.pricing {
  display: flex;
  flex-flow: column;
}

.card {
  width: auto;
}

.gallery {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column;
}

@media screen and (min-width: 700px) {
  header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  #logo {
    width: 400px;
    height: auto;
    justify-content: flex-start;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0px;
  }

  .nav_item a {
    padding: 0px 10px;
  }

  .pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: auto;
  }

  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery img {
    width: 300px;
    height: auto;
  }
}
